<div class="row">
	<div class="col card px-2 my-2" id="ans{{answer.pk}}">
		<div>
			<small class="text-muted">
				by {{answer.author}} | at {{ answer.published }} 
				{% if answer.was_updated %}
					(upd. {{ answer.updated }})
				{% endif %}
			</small>
		</div>
		<div class="card-body pt-1">
			{{ answer.body }}
		</div>
		<div>
			{% if request.user.is_authenticated and answer.author == request.user %}
			<a class="btn btn-primary" href="{% url 'ask:edit_answer' answer.pk %}"> Edit </a>
			<a class="btn btn-danger" href="{% url 'ask:confirm_delete_answer' answer.pk %}"> Delete </a>
			{% endif %}
		</div>
	</div>
</div>
