{% extends 'base.html' %}

{% block title %} {{ question.title }} {% endblock %}

{% block description %}Question{% endblock %}

{% block content %}
	{% include "ask/question_header.html" %}
	<div class="row mb-4">
		<div class="col card">
			<div class="card-body pt-1">
				{{ question.body|linebreaks }}
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<h3>Answers <a class="btn btn-success" href="{% url 'ask:create_answer' question.pk %}"> Create </a></h3>
		</div>
	</div>
	{% for answer in question.answer_set.all %}
		{% include "ask/question_answer.html" %}
	{% empty %}
	<div class="row justify-content-center">
		<div class="col-auto">
			<h5 class="text-muted">no answers yet...</h5>
		</div>
	</div>
	{% endfor %}
{% endblock %}
