{% extends "base.html" %}

{% block title %} Djask {% endblock %}

{% block description %}
{% if tag_search %}
	<a class="btn btn-primary" href="{% url 'ask:question_list' %}"> Full list </a>
{% else %}
	<a class="btn btn-primary" href="{% url 'ask:tag_search' %}">Tag search </a>
{% endif %}
<span class="m-1">
Question list 
{% if tag_search %}
	with tags: {{tags|join:', '}}
</span>
{% else %}
</span>
	<a class="btn btn-success" href="{% url 'ask:create_question' %}"> Create </a>
{% endif %}
{% endblock %}

{% block content %}
	{% for question in question_list %}
		{% include "ask/question_header.html" %}
	{% empty %}
	<div class="row justify-content-center">
		<div class="col-auto">
			<h5 class="text-muted">no questions</h5>
		</div>
	</div>
	{% endfor %}
	{% include "ask/pagination.html" with page=question_list%}
{% endblock %}
