<div class="row">
	<div class="col card px-2 my-2">
		<div>
			<small class="text-muted">
				by {{question.author}} | at {{ question.published }} 
				{% if question.was_updated %}
					(upd. {{ question.updated }})
				{% endif %}
			</small>
		</div>
		<h3 class="card-title">
			<a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
			{% if request.user.is_authenticated and question.author == request.user %}
			<a class="btn btn-primary" href="{% url 'ask:edit_question' question.pk %}"> Edit </a>
			<a class="btn btn-danger" href="{% url 'ask:confirm_delete_question' question.pk %}"> Delete </a>
			{% endif %}
		</h3>
	</div>
</div>
